<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{{ title }} &middot; {{ root.companyTitle }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">

    <meta property="og:title" content="{{ ogTitle }}">
    <meta property="og:site_name" content="{{ root.companyTitle }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="https://www.non-rocket-science.com/images/nonrocketscience-og.jpg"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:width" content="300"/>
    <meta property="og:image:height" content="300"/>

    <script defer data-domain="non-rocket-science.com" src="https://plausible.io/js/script.js"></script>


    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="css/design.css?v={{formatDate root.buildDate "yyyymmddHHMMss"}}" rel="stylesheet">
    <script src="js/aboveTheFold.js?v={{formatDate root.buildDate "yyyymmddHHMMss"}}"></script>
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<!-- WRAPPER -->
<div class="wrapper">

    {{#block "navigation"}}
        {{> navigation }}
    {{/block}}

    <div class="content-wrapper">

        <!-- Header -->
        <header class="{{header.class}}" data-0-top="background-position: 50% 50%"
                data-0-bottom="background-position: 50% 0%">
            <div class="container">
                <div class="intro-text">
                    <div class="icon {{header.icon}}"></div>
                    <h1 class="huge">{{ title }}</h1>
                </div>
            </div>
        </header>
        <!-- /.Header -->

        {{#block "content"}}
        {{/block}}
    </div>

</div>
<!-- /.wrapper -->

{{#block "footer"}}
    {{> footer }}
{{/block}}
</body>
</html>