---
title:          Projekte
description:    Non-Rocket-Science hat besondere Expertise in Projekten Rund um PIM- und MAM-Systeme. Es wurde bisher primär im Versandhandel gearbeitet.
keyword:        Consulting + Development in Hamburg, Marten Prieß, Java, Spring, Vaadin, AngularJs, PHP

header: { class: "bg-treecar", icon: "icon-100px nonrocketico-desk-table-office1" }

projects:
    -   {
        title:      "Ausbau Targeting Plattform",
        icon:       "arrow-relations",
        start:      "2015 / Q2",
        duration:   "3 Monate",
        role:       "Entwicklung und Beratung",
        customer:   "Xplosion Interactive GmbH",
        description: 'Für den Ausbau des neuen Targeting Produktes wird eine Management-Console
            benötigt, welche die Verwaltung von Segmenten durch verschiedene
            Anwendergruppen ermöglicht. Hierfür werden unterschiedliche Meta-Daten in
            einer AngularJs Oberfläche gepflegt (das Backend ist mit Spring Boot realisiert). Die
            hinterlegten Daten dienen anschließend als Konfiguration in dem hoch performant
            ausgelegten Auswertungs-System. Die Management-Console basiert auf einem
            relationalen Datenbankmodell und das anzusteuernde Auswertungs-System erfolgt
            primär in der Cassandra Datenbank - einem Key-Value-Store.',

        technologies: ["Java", "Gradle", "Spring MVC", "Spring Data JPA", "Spring Security", "Spring Boot", "Cassandra",
            "AngularJs", "Bootstrap", "Yeoman", "Grunt", "Bower", "HTML", "CSS + Less"]
        }
    -   {
        title:      "business compass",
        icon:       "compass",
        start:      "2015 / Q2",
        duration:   "1 Monat",
        role:       "Entwicklung und Beratung",
        customer:   "smart-it4.com GmbH",
        description: 'Für die Einführung eines neuen Produktes des Startups wurden zahlreiche GUIKomponenten
            entwickelt. Ebenfalls wurde ein eigenes Theme entworfen und der
            Entwicklungsprozess von Ivy + Ant auf Maven umgestellt.
            Des Weiteren wurde in Themen wie Projektmanagement und Layout-Konzeption
            beraten.',

        technologies: ["Java", "Vaadin", "Javascript", "CSS + Less", "Maven", "Ivy + Ant"]
        }
    -   {
        title:      "Navigation + Portal",
        icon:       "sailing",
        start:      "2015 / Q1",
        duration:   "bisher 3 Monat (pausiert)",
        role:       "Konzept und Umsetzung",
        customer:   "rocketbase.io",
        description: 'Entwicklung einer Segelnavigations-App mit Anbindung an einem Portal zum
            abstecken, teilen und auswerten von Routen. Das Backend wurde mit bewährten
            Java-Technologien umgesetzt. Das Frontend sowohl für Portal als auch App wurde
            mit AngularJs realisiert.',

        technologies: ["Java", "Maven", "TestNG", "Mockito", "Spring MVC", "Spring Data JPA", "Spring Security", "Spring Boot",
            "AngularJs", "Ionic", "Bootstrap", "Yeoman", "Grunt", "Bower", "HTML", "SQLite"]
        }
    -   {
        title:      "Medien-Produktionssystem",
        icon:       "image-polaroid",
        start:      "2014 / Q3",
        duration:   "6 Monate",
        role:       "Projektverantwortlicher",
        customer:   "bonprix Handelsgesellschaft mbH",
        description: 'Entwicklung eines Produktionssystems welches sich um die Bildbeschaffung,
            -beauftragung, -auswahl und Medien-Ausleitung (Print und Online) kümmert.
            Über das System werden jährlich über 500.000 Fotos von Fotografen hochgeladen
            und etwa 200.000 Bilder ausgewählt und weiter veredelt.',

        technologies: ["Java", "Vaadin", "GWT", "Maven", "TestNG", "Mockito", "Spring MVC", "Spring Data JPA", "MyBatis", "Spring Security", "Spring Boot", "AspectJ", "JaxB"]
        }
    -   {
        title:      "Java Toolkit",
        icon:       "lego-brick",
        start:      "2014 / Q1",
        duration:   "6 Monate",
        role:       "Konzept und Umsetzung",
        customer:   "bonprix Handelsgesellschaft mbH",
        description: 'Programmierung eines Entwickler-"Bausteins", welcher als Basis für zahlreiche
            Web-Projekte zukünftig herangezogen wird. Hierbei wurde sich vor allem auf die
            Erstellung von REST-Services und Vaadin-Applikationen konzentriert und immer
            wiederkehrende Problemstellungen wie z. B. eine Userverwaltung, Datenbankanbindung
            mit ORM-Mappern und einheitliche UI-Komponenten vereinfacht.
            In diesem Zuge wurde ebenfalls die 2010 entwickelten User-Webservices
            refrakturiert und um einige Funktionen erweitert.',

        technologies: ["Java", "Vaadin", "GWT", "Maven", "TestNG", "Mockito", "Spring MVC", "Spring Data JPA", "Hibernate", "MyBatis", "Spring Security", "Spring Boot", "AspectJ", "JaxB"]
        }
    -   {
        title:      "E-Commerce Matrix",
        icon:       "shopping-cart",
        start:      "2013 / Q4",
        duration:   "3 Monate",
        role:       "Konzept und Umsetzung",
        customer:   "bonprix Handelsgesellschaft mbH",
        description: 'Ziel dieser Webapplikation war die Informationsflut aus dem E-Commerce
            Datawarehouse strukturiert und übersichtlich darzustellen. Anhand von Produktund
            Erfolgs-Kriterien werden Artikel vereinfacht als Kästchen dargestellt und in
            einer Matrix entsprechend ihrer Performance eingefärbt. Interaktiv kann in die
            Details reingezoomt werden.
            Der Aufbau des DWH war ein vorheriges Projekt, welches ich 2010 aufgebaut hatte.
            Es enthält Daten aus mehreren Jahre und Ländern auf SKU und Tagesbasis.',

        technologies: ["Java", "Vaadin", "MyBatis", "Maven", "Jenkins", "Oracle", "jQuery", "SVG"]
        }
    -   {
        title:      "Digitale Katalog-Notizen",
        icon:       "pencil-paper",
        start:      "2013 / Q1",
        duration:   "6 Monate",
        role:       "Konzept und Umsetzung",
        customer:   "bonprix Handelsgesellschaft mbH",
        description: 'Mithilfe einer Webapplikation wurde den Katalogverantwortlichen ermöglicht
            digitale Anmerkungen an die gestaltende Agentur während des
            Entwicklungsprozesses mitzuteilen. Der Anwender sieht den letzten bereitgestellten
            Stand einer Katalogseite und kann die Seite interaktiv mit Notizen versehen. Durch
            eine Anbindung in InDesign werden diese Notizen über einen Webservice direkt
            beidseitig synchronisiert.
            Über das System werden jährlich über 30.000 Doppelseiten verarbeitet.',

        technologies: ["Java", "Vaadin", "RestEasy", "JaxB", "MyBatis", "inDesign + Comet-Plugin", "Ivy", "Jenkins"]
        }
    -   {
        title:      "DWH Doku-System",
        icon:       "database",
        start:      "2012 / Q1",
        duration:   "9 Monate",
        role:       "Konzept und Umsetzung",
        customer:   "bonprix Handelsgesellschaft mbH",
        description: 'Das strukturierte Online-Dokumentationssystem ermöglicht durch sein generisches
            Datenmodell eine mandantenspezifische Konfiguration der Erfassungs- und
            Auswertungsmasken. Dem Administrator wird somit ermöglicht sich seine eigenen
            Feldtypen, Formular-Layouts und Ausprägungen selbst zu definieren ohne das
            hierfür ein Programmierer tätig werden muss.
            Das System wird innerhalb der Otto Group von mehreren Firmen zur
            Dokumentation von Datawarehouses und Firmen-KPIs genutzt und unterstützt die
            dortige SAP-Einführung.',

        technologies: ["Java", "GWT mit Sencha GXT", "Apache POI", "MyBatis", "Ant", "Jenkins", "Oracle", "PL/SQLProzeduren"]
        }
    -   {
        title:      "Zentrale Services + Tools",
        icon:       "keyboard",
        start:      "2011 / Q2",
        duration:   "6 Monate",
        role:       "Konzept und Umsetzung",
        customer:   "bonprix Handelsgesellschaft mbH",
        description: 'Zentraler „Anmeldeservice“ mit Verwaltungssoftware und Hilfsbibliotheken für GWT
            und ZK. Der Service umfasst neben der Authentifizierung über unterschiedliche
            Benutzerverzeichnisse ebenfalls einen SingleSignOn Mechanismus, ein
            Rechtekonzept mit dazugehöriger Verwaltungssoftware und ein Meldesystem zur
            gezielten Benachrichtigung der Anwender.
            Die Hilfsbibliotheken zentralisieren wiederkehrende Anwendungs-Komponenten
            wie GUI-Bausteine und auch Webservice- sowie Datenbank-Kommunikationen.
            In Schulungseinheiten wurde dies den Offshore-Entwicklern und dem eigenen Team
            erläutert und war der Standard für die Webentwicklung im Unternehmen sich bis
            zur Umstellung 2014 auf das neue Java-Toolkit.',

        technologies: ["Java", "Axis2", "GWT mit Sencha GXT", "ZK", "Servlet", "MyBatis", "Ant", "Jenkins", "Oracle", "PL/SQL-Prozeduren"]
        }
    -   {
        title:      "E-Commerce DWH",
        icon:       "database-network",
        start:      "2009 / Q4",
        duration:   "> 12 Monate (immer wiederkehrend bis 2014)",
        role:       "Konzept und Umsetzung",
        customer:   "bonprix Handelsgesellschaft mbH",
        description: 'Aufgrund von unsauberen Datenstrukturen im Webshop lagen Warenkorbdaten
            und Shop-Strukturen weder komfortabel auswertbar noch historisiert vor. Meine
            Aufgabe bestand darin die zahlreichen CSV-Exporte (täglich ca. 3GB) automatisiert
            und in einer platzsparenden Form zu transformieren und zu historisieren. Die
            Anreicherung der Daten zur umfassenden Auswertung und Aufbereitung im
            Reporting-Server gehörte ebenfalls dazu. Das Data-Warehouse mit einer Historie
            von mittlerweile über 4 Jahren umfasst etliche Milliarden Datensätze und hat ein
            komprimiertes Datenvolumen von über 500 Gigabyte. Es stellt die Grundlage für
            unzählige Reports, Beschaffungs-Hochrechnungen und vielem mehr dar.
            Seit 2014 wird das DWH auf einer Oracle-Exadata betrieben.',

        technologies: ["Oracle", "PL/SQL-Prozeduren", "Data-Warehouse", "Jenkins", "Penthao Kettle", "Microsoft SQL Server mit den Reporting", "Services 2008 R2"]
        }
---
{{#extend "layout"}}

    {{#content "content"}}

        <div class="highlight darker hidden-print">
            <div class="container">
                <div class="row text-center">
                    <p class="lead">Ein Auszug meiner Arbeiten und den verwendeten Technologien + Frameworks.</p>
                </div>
            </div>
        </div>

        <!-- CONTENT -->
        <div class="content paper">
            <!-- Projekte -->

            <!-- only print -->
            <div class="row visible-print-block"><h2>Projekte</h2></div>
            <!-- /.only print -->

            <!-- Projekte -->
            {{#each projects}}
                <div class="vacancy-row {{ classToggle @index '' 'highlight darker' }}">
                    <div class="container">
                        <div class="col-sm-1 text-center hidden-print">
                            <div class="icon icon-big nonrocketico-{{icon}} color"></div>
                        </div>
                        <div class="col-sm-11">
                            <h2>{{title}}</h2>
                            <p class="grey">Start: {{start}} &middot; Dauer: {{duration}} &middot; Rolle: {{role}}</p>

                            <p>{{description}}</p>

                            <h3>Technologien</h3>

                            <p>{{#each this.technologies}} <span class="technology">{{this}}</span> {{/each}}</p>

                        </div>
                    </div>
                </div>
            {{/each}}
            <!-- /.Projekte -->

        </div>

        <div class="highlight {{ classToggle projects.length '' 'darker' }} hidden-print">
            <div class="container">
                <div class="row text-center">
                    <p class="lead">zu meinen Veröffentlichungen auf <a href="https://github.com/melistik">GitHub</a></p>
                </div>
            </div>
        </div>


    {{/content}}

{{/extend}}